main {
    height: 300vh;
}

#work {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 4rem 2rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 10rem 2rem;
}

#work a {
    background: #2F3841;
    /*height: 35vw;*/
}

.project-img + p {
    padding: 2rem 0.5rem;
}

.project-img {
    display: block;
    height: calc(100% - 5rem);
    height: 25vw;
    /*height: 25vw;*/
    /*height: 100%;*/
    width: 100%;
    object-fit: cover;
}


